.inspiration-calculator {
    display: flex;
    padding: 0 40px;
    gap: 18px;

    @media (max-width: 900px) {
        padding: 0 16px;
        flex-direction: column;
    }
}
.inspiration-calculator h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 0;
    @media (max-width: 900px) {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 5px;
    }
}
.inspiration-calculator p {
        margin-top: 0;
    margin-bottom: 1rem;
    @media (max-width: 900px) {
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 700;
                line-height: 16.39px;
    }
}

.inspiration-calculator > div {
    position: relative;
    width: 100%;
}

.inspiration-calculator .content-wrapper {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    color: #fff;
    top: 10%;
    @media (max-width: 991px) {
        top: 18%
    }
}

.inspiration-calculator .content-wrapper a {
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 20px;
    border-radius: 45px;
    display: inline-block;
    margin-top: 40px;
    font-weight: 700;
              font-size: 14px;
    @media (max-width: 900px) {
        margin-top: 0;
    }
     @media(min-width: 1200px) and (max-width: 1360px){
        margin-top: 10px;
    }
    img {
        @media (max-width: 900px) {
            margin-left: 5px;
        }
    }

}

.inspiration-calculator .content-wrapper a:hover {
    background: #fff7e8;
    color: #000;
    border-color: #232426;
}
.inspiration-calculator .content-wrapper a:hover .link-icon {
    filter: invert(1);
}

.inspiration-calculator .content-wrapper > div:nth-child(2) {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 700;

    @media (max-width: 900px) {
        margin-top: 0;
        font-size: 14px;
    }
}
